/tamiyochi/.phpunit.cache
/tamiyochi/node_modules
/tamiyochi/public/build
/tamiyochi/public/hot
/tamiyochi/public/storage
/tamiyochi/storage/*.key
/tamiyochi/vendor
/tamiyochi/.env
/tamiyochi/.env.backup
/tamiyochi/.env.production
/tamiyochi/.phpunit.result.cache
/tamiyochi/Homestead.json
/tamiyochi/Homestead.yaml
/tamiyochi/auth.json
/tamiyochi/npm-debug.log
/tamiyochi/yarn-error.log
/tamiyochi/.fleet
/tamiyochi/.idea
/tamiyochi/.vscode